@inherits ItemTTT.Views.BaseView
@{
	Init( PageHelper );

	var model = (ItemTTT.Views.ItemTTTController.ListModel)Model;
	var view = model.View;
	var sortingField = model.SortingField;
}
@section Scripts
{
<script type="text/javascript">
	ttt.itemttt.list.init( {
			sortingField	: '@sortingField',
			$txtSearch		: $('#adcd270c'),
			$cbShowInactive	: $('#eb1740ec'),
			$divCarsList	: $('#d3895bed'),
			$btnViewList	: $('#c0f0cb69'),
			$btnViewGrid	: $('#e903ced8'),
			$btnSortName	: $('#bf2c639b'),
			$btnSortPrice	: $('#bed33e38'),
		} );
</script>
}

<div>LIST START</div>

<ul>
	<li>View:</li>
	<li><button id="c0f0cb69">List</button></li>
	<li><button id="e903ced8">Grid</button></li>
	<li>Order</li>
	<li><button id="bf2c639b">Name</button></li>
	<li><button id="bed33e38">Price</button></li>
</ul>

Search: <input type="text" id="adcd270c"/>

<div ttt-only-if="PageHelper.IsAuthenticated">
	Show inactive: <input type="checkbox" id="eb1740ec"/>
</div>

<div id="d3895bed">
	<partial name="@view" />
</div>

@*
Model dump:
<pre>
@Html.Raw(JSON( model ))
</pre>
*@

<div>LIST END</div>
