@{
	var foobar = ItemTTT.ExtensionMethods.JSONStringify( Model, indented:true );
}
@section Scripts
{
	<script type="text/javascript">
		console.log( 'FOOBAR' );
	</script>
}
<div>
	Foo / bar

<pre>
@Html.Raw( foobar )
</pre>

</div>
