@inherits ItemTTT.Views.BaseView
@{
	Init( PageHelper );

	var parameters = PageHelper.Parameters;
	var item = (ItemTTT.Views.DynamicPageController.ShowModel)Model;
}
@section Scripts
{
<script ttt-only-if="PageHelper.IsAuthenticated" type="text/javascript">
	ttt.dynamicpage.show.init({	$blockingDiv	: $('#f14a4f82'),
								itemCode		: @Html.Raw(JSON(item.ItemCode)),
							} );
	ko.applyBindings( ttt.dynamicpage.show, $('#f14a4f82')[0] );
</script>
}

<div id="f14a4f82">
	<div data-bind="tinymceEditor:textHtml">@Html.Raw(item.Text)</div>

	<button ttt-only-if="PageHelper.IsAuthenticated" data-bind="click:save">Save</button>
</div>
