@inherits ItemTTT.Views.BaseView
@{
	Init( PageHelper );
}
@section Scripts
{
<script type="text/javascript">
	ttt.blog.edit.init( {	$picUploadControl	: $('#cca9f27d'),
						} );
</script>
}

Upload an image:
<input type="file" id="cca9f27d"/>

<div id="foobar"></div>
