@inherits ItemTTT.Views.BaseView
@{
	Init( PageHelper );

	var parameters = PageHelper.Parameters;
	var item = (ItemTTT.Views.Blog.BlogController.ListModel)Model;
	var view = item.PartialView;
}
@section Scripts
{
<script type="text/javascript">
	ttt.blog.list.init( {	$postsContainer	: $('#a7e30919'),
							$endPostElement	: $('#f5ebd741'),
							$spinner		: $('#b52f763c'),
							postsIncrement	: @item.PostsNumberIncrement,
						} );
</script>
}

<ul id="a7e30919">

	<partial name="@view" />

	<li id="f5ebd741"></li>

</ul>

<i id="b52f763c" class="fa fa-spinner fa-spin" style="display:none"></i>
