@inherits ItemTTT.Views.BaseView
@{
	Init( PageHelper );
	var post = (ItemTTT.DTOs.BlogPost)Model;
	var isAdding = false;
	if( post == null )
	{
		isAdding = true;
		post = new ItemTTT.DTOs.BlogPost();
	}
	var isEditting = (! isAdding);
}
@section Scripts
{
<script type="text/javascript">
	ttt.blog.edit.init( {	isAdding			: @Html.Raw( JSON(isAdding) ),
							post				: @Html.Raw( JSON(post) ),
							$blockingDiv		: $('#ca1e7f48'),
							$picUploadControl	: $('#cca9f27d'),
							$txtDate			: $('#e6f60366'),
						} );
	ko.applyBindings( ttt.blog.edit, $('#ca1e7f48')[0] );
</script>
}

<div id="ca1e7f48">

	<div data-bind="with:post">

		<div style="border:1px solid black">
			Image :<br/>
			Upload an image :<input type="file" id="cca9f27d"/><br/>
			<div data-bind="tinymceEditor:imageHtml"></div>
		</div>
		<div style="border:1px solid black">
			Title EN :<br/>
			<div data-bind="tinymceEditor:titleHtmlEN"></div>
		</div>
		<div style="border:1px solid black">
			Title FR :<br/>
			<div data-bind="tinymceEditor:titleHtmlFR"></div>
		</div>
		<div style="border:1px solid black">
			Title NL :<br/>
			<div data-bind="tinymceEditor:titleHtmlNL"></div>
		</div>
		<div style="border:1px solid black">
			Text EN :<br/>
			<div data-bind="tinymceEditor:textHtmlEN"></div>
		</div>
		<div style="border:1px solid black">
			Text FR :<br/>
			<div data-bind="tinymceEditor:textHtmlFR"></div>
		</div>
		<div style="border:1px solid black">
			Text NL :<br/>
			<div data-bind="tinymceEditor:textHtmlNL"></div>
		</div>
		<div style="border:1px solid black">
			Post date :<br/>
			<input type="text" id="e6f60366" data-bind="value:date"/>
		</div>
		<div style="border:1px solid black">
			Active :<br/>
			<input type="checkbox" data-bind="checked:active"/>
		</div>

	</div>

	<button ttt-only-if="isAdding" data-bind="click:save">Add</button>
	<button ttt-only-if="isEditting" data-bind="click:save">Save</button>
	<button ttt-only-if="isEditting" data-bind="click:refresh">Discard changes</button>
	<button ttt-only-if="isEditting" data-bind="click:delete_">Delete</button>

</div>
