@inherits ItemTTT.Views.BaseView
@{
	Init( PageHelper );

	var parameters = PageHelper.Parameters;
	parameters.PageTitle = $"Add";
}
@section Scripts
{
<script type="text/javascript">
	ttt.itemttt.add.init( {
			$blockingDiv		: $('#e4bae0ae'),
			$btnSave			: $('#ee82320c'),
			$fieldsContainer	: $('#e4bae0ae'),
		} );
</script>
}

<div id="e4bae0ae">

	<p><label>Name: <input type="text" ttt-name="name" data-bind="value:name"/></label></p>
	<p><label>Code: <input type="text" ttt-name="code" data-bind="value:code"/></label></p>
	<button id="ee82320c">Add</button>

</div>
