@inherits ItemTTT.Views.BaseView
@{
	Init( PageHelper );

	var parameters = PageHelper.Parameters;
	var item = (ItemTTT.DTOs.Item)Model;
	parameters.PageTitle = $"Edit - {item.Name}";
}
@section Scripts
{
<script type="text/javascript">
	ttt.itemttt.edit.init( {
			model				: @Html.Raw(JSON( item )),
			$blockingDiv		: $('#d8ae6d99'),
			$btnSave			: $('.f373f8f9'),
			$btnDelete			: $('#f09efa4d'),
			$fieldsContainer	: $('#d4606d97'),
			$picUploadDropZone	: $('#b89a8429'),
			$picUploadControl	: $('#a7606a9a'),
		} );
	ko.applyBindings( ttt.itemttt.edit, $('#d8ae6d99')[0] );
</script>
}

<div id="d8ae6d99">

	@* Edition fields *@
	<div id="d4606d97" data-bind="with:item">
		<button class="f373f8f9">Save</button>

		<p><label>Name: <input type="text" ttt-name="name" data-bind="value:name"/></label></p>
		<p><label>Code: <input type="text" ttt-name="code" data-bind="value:code"/></label></p>
		<p><label>Description EN: <textarea type="text" ttt-name="descriptionEN" data-bind="value:descriptionEN"></textarea></label></p>
		<p><label>Description FR: <textarea type="text" ttt-name="descriptionFR" data-bind="value:descriptionFR"></textarea></label></p>
		<p><label>Description NL: <textarea type="text" ttt-name="descriptionNL" data-bind="value:descriptionNL"></textarea></label></p>
		<p><label>Price: <input type="text" ttt-name="price" data-bind="value:price"/></label></p>
		<p><label>Active: <input type="checkbox" ttt-name="active" data-bind="checked:active"/></label></p>

		<div>
			Features:
			<ul data-bind="foreach:features">
				<li>
					EN: <input type="text" data-bind="value:en, valueUpdate:'blur', ttt_autocomplete:$root.autoCompleteFeature"/>
					@* nb: changed 'valueUpdate' to cope with JQuery's auto-complete
					   cf. https://stackoverflow.com/questions/17676045/knockout-and-jquery-autocomplete# *@
				</li>
			</ul>
			<button data-bind="click:addNewFeature">Add new</button>
		</div>

		<button class="f373f8f9">Save</button>
		<button id="f09efa4d">Delete</button>
	</div>

	<hr/>

	<style>.dropZoneHover{ background-color:green }</style>
	<div id="b89a8429" style="border:3px dashed black" data-bind="css:{ dropZoneHover:picDropZone.hover }">
		Upload new image:
		<input type="file" id="a7606a9a"/><br/>
		OR
		<div>Drag & drop file here</div>
	</div>

	<div id="a92e8aa4" data-bind="foreach:item.pictures">
		<div style="border:1px black solid">
			<i data-bind="click:function(){ $root.toggleMainPicture($data); }, css:{ 'fa-dot-circle-o':isMainImage, 'fa-circle-o':(!isMainImage) }" class="fa"></i>
			<i data-bind="click:function(){ $root.reorderPicture($data, -1); }" class="fa fa-arrow-up"></i>
			<i data-bind="click:function(){ $root.reorderPicture($data, +1); }" class="fa fa-arrow-down"></i>
			<img data-bind="attr:{ src:$root.scrambleUrl($data.url50) }"/>
			<i data-bind="click:function(){ $root.deletePicture($data); }" class="fa fa-times" style="color:Red"></i>
		</div>
	</div>

</div>

Model dump:
<pre>
@Html.Raw(JSON( item ))
</pre>
