@inherits ItemTTT.Views.BaseView
@{
	Init( PageHelper );
	Layout = null;

	var model = (ItemTTT.Views.ItemTTTController.ListModel)Model;
}

<div>LIST LIST PARTIAL BEGIN</div>

@foreach( var item in model.Items )
{
	<div data-bind="ttt_slideUpDownVisible:visible" style="border:1px solid black">

		@* JSON model of this item ; Required for the JavaScript to reconstruct an ItemKO's class instance and bind it to the parent element of this div *@
		<script type="ttt-model">@Html.Raw(JSON(item))</script>

		<div ttt-only-if="PageHelper.IsAuthenticated" >
			<label>Active:
				<i ttt-name="active" data-bind="click:toggleActive, css:{ 'fa-check-square-o':active, 'fa-square-o':(!active()) }" class="fa"></i>
			</label>
		</div>
		<a href="@item.DetailsUrls[PageHelper.CurrentLanguage]">
			<div>
				<label ttt-only-if="IsEN">Name:</label>
				<label ttt-only-if="IsFR">Nom:</label>
				<label ttt-only-if="IsNL">Naam:</label>
				@item.Name
			</div>
			<img src="@item.MainImage.Url100"/>
		</a>

	</div>
}

<div>LIST LIST PARTIAL END</div>
