@inherits ItemTTT.Views.BaseView
@{
	Init( PageHelper );

	var parameters = PageHelper.Parameters;
	parameters.PageTitle = "Hello world !";
}
@section Scripts
{
	<script type="text/javascript">
		$('#preParameters').html( JSON.stringify(itemttt.common.pageParameters, null, 2) )
	</script>
}

<div>
	Hello world !
</div>

<pre id="preParameters"></pre>
